:root {
    --border-radius: 8px;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--color-bg);

    color: var(--color-bg); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-container {
    padding-top: 50px; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* GRID LAYOUT */

.grid-layout {
    display: grid;
    grid-template-columns: 300px repeat(3, 1fr); 
    gap: 15px; 
    max-width: 1200px;
    width: 90%; 
    margin: 50px auto; 
    align-items: center; 
}


.row-title {

    background-color: var(--color-accent);
    color: var(--color-bg); 
    
    height: 111px;
    
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: var(--border-radius);
    
    grid-column: 1 / 2; 
}


.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 10px;
}


.item-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}


.item-icon {
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}

/* BUTTONS */
.item-button {

    background-color: var(--color-accent);
    color: var(--color-bg);
    border: none;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    border-radius: var(--border-radius);
    width: 90%; 
    transition: background-color 0.2s, transform 0.1s;
    font-family: inherit;
    font-size: 14px;
}

.item-button:hover {
    background-color: var(--color-highlight, #f1b369); 
}

/* COPYRIGHT */
.copyright-bar {
    background-color: var(--color-accent);
    color: var(--color-bg);
    text-align: center;
    padding: 15px 0;
    margin-top: auto; 
    font-weight: 700;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
}

/* RESPONSIVE */

@media (max-width: 900px) {
    .grid-layout {
        grid-template-columns: 100px repeat(2, 1fr); 
        width: 95%;
        gap: 10px;
    }
    .row-title {
        height: auto; 
        grid-row: span 2; 
    }
}

@media (max-width: 600px) {
    .grid-layout {
        grid-template-columns: 1fr; 
        gap: 5px;
        margin: 20px auto;
    }

    .row-title {
        grid-column: 1 / -1; 
        margin-top: 15px;
        height: auto; 
    }
    
    .grid-item {
        grid-column: 1 / -1;
        flex-direction: row; 
    }

    .item-circle {
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    
    .item-button {
        width: auto;
        flex-grow: 1; 
        text-align: left;
    }

}
