/* 1990–2010 (Frutiger Aero style) */
:root{
  /* functional color tokens */
  --color-bg: #dffaff;      
  --color-text: #003b4a;       

  --color-accent: #00c8ff; 
  --color-accent-border: #00a4d4;
  --color-highlight: #1b626e;     
  --text-muted: #4f7f88;        

  /* map background */
  --background-map: url('../images/Map5.jpg');

  /* typography */
  --font-text: 'Space Mono';
  --font-display: 'Space Mono';
  --header-logo: url('../images/logo5.png')
}

/* documentation info */
.theme-text1::after {
  content: "Atakan: 1990-2010 Frutiger Aero Theme";
}
.theme-text2::after {
  content: "The aesthetic of this era merges Y2K futurism with Frutiger Aero nostalgia—clean, glossy, and hopeful. Rounded sans-serif typography, often with subtle neon gradients, evokes the optimistic tech aesthetic of early web design. The color palette features light blues, silvers, and lime greens, symbolizing connection and progress. Transparent layering and floating elements represent digital space, echoing the bubbly, reflective textures of early 2000s interfaces. The goal was to make the mythological world feel like part of the early internet age—modern yet naive in its fascination with technology.";
}

/* documentation image changer */
:root {
  #theme-image {
    content: url("../../images/moodboard5.jpg");
     height: auto;
     display: block;
     margin: 0 auto;
  }
}