/* 1950-1990 (Bangers, Pop-art) */
:root{
  --color-bg: #fff770;
  --color-text: #dc35c6;

  --color-accent: #00BFFF;         
  --color-accent-border: #0B0C10; 
  --color-highlight: #F5F5F5;      
  --text-muted: #0B0C10;

  /* map background*/
  --background-map: url('../images/Map4.jpg');

  /* typography */
  --font-text: 'Bangers';
  --font-display: 'Bangers';
  --header-logo: url('../images/logo4.png')
}
/* documentation info */
.theme-text1::after {
  content: "Ceyda: 1950-1990 Theme";
}
.theme-text2::after {
  content: "This theme embraces the vibrancy and experimentation of mid- to late-century pop culture. Inspired by Pop Art, Funk, and early digital aesthetics, the typography uses bold, playful letterforms such as Bangers, reflecting the energy of comic books and street posters. The color palette features bright magenta, cyan, yellow, and electric blue, chosen for their striking contrast and sense of fun. Flat shapes, thick outlines, and block compositions reference the graphic work of artists like Roy Lichtenstein, while the overall tone feels lively and rebellious—an intentional break from the formal designs of earlier themes.";
}
/* documentation image changer */
:root {
  #theme-image {
    content: url("../../images/moodboard4.jpg");
  }
}