/* 1500-1800 (Libre Caslon / Baroque) */
:root{

  --color-bg:#172639;
  --color-text:#CB9323;
  --color-accent:#D5C2A2;       /* ana vurgu */
  --color-highlight:#926D33;  /* kenar/border */
  --text-muted:#926D33;
  --accent:#926D33;    

  /* map image for this theme */
  --background-map: url('../images/GameMap.jpg'); /* Koyu temaya uygun varsayılan bir harita */

  /* typography */
  --font-text: 'Libre Caslon Text';
  --font-display: 'Libre Caslon Text';
  --header-logo: url('../images/HadesLogoRed.png');
}
/* documentation info */
.theme-text1::after {
  content: "Yigit: 1500-1800 Theme";
}
.theme-text2::after {
  content: "I drew inspiration from Baroque and early Classical art, emphasizing richness, contrast, and layered composition. For the typography, I choose a mix of Libre Caslon & Times New Roman featuring elegant, serif-like lettering resembling manuscripts or early printing typefaces, evoking a sense of heritage and myth. The color palette leans toward earth tones, golds, and hints of reds, mirroring the visual warmth of frescoes and oil paintings. The layout uses ornate frames and symmetrical balance to suggest museum-like prestige, referencing the greatness of mythological artworks from this period.";
}
/* documentation image changer */
:root {
  #theme-image {
    content: url("../../images/moodboard1.jpg");
  }
}
